---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../data/site";
---

<Layout title={siteConfig.title} description={siteConfig.description}>
  <Header />

  <main class="flex-1">
    <Hero />
    <Skills />
    <Projects />
    <Experience />
  </main>

  <Footer />
</Layout>
